body {
    margin-top: 55px;
  }
  #main {
    background-color: #EEEEEE;
    margin: 40px 0;
    font-weight: 250;
    text-align: center;
    box-sizing: border-box;
           }
    #img-div {
        background-color: white;
        margin: 40px 20px;
        padding: 20px 10px;
      }
      img {
        margin: 15px;
        max-width: 100%;
        height: auto;
      }  
      #title {
        font-size: 150%;
        padding-top: 50px;
      }
      #tribute-info {
        width: 60%;
        margin: 0 auto;
      }
      footer {
        padding: 5px;
        line-height: 1.5rem;
      }
     